*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilityes */
html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Rubik Mono One', sans-serif;
}

/* Fisso */
.fisso{
    position: fixed;
    right: 20px;
    z-index: 5;
}

/* Lista */
li{
    display: inline-block;
    margin: 15px;
    list-style: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

/* Intro */
.intro{
    position: relative;
    background-color: red;
    height: 100vh;
}

/* Scarpa */
.intro .scarpa{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* tESTO */
.container-text{
    width: 500px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
    color: yellow;
}

/* Background verde */
.intro .verde{
    background-color: green;
    height: 100vh;
}

/* Background giallo */
.intro .giallo{
    background-color: yellow;
    height: 100vh;
}

/* Testo verde */
.container-text .testo{
    width: 500px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: green;
}